$p-color:#eba8aa;
$container-bgcolor:#ffffff;
$box-shadow:#ce9595;
$p-color: eba8aa;
$h1-first: #F6B4B6;
$h1-second: #000000;
$button-arrow: #e7686c;
$input-border: #eba8aa;
$button-border:#eba8aa;
$input-hover: #ffeaea;
$button-hover: #ffffff;

body {
    color: $p-color;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-image: url(img/bg.jpg);
}

.container {
    background-color: $container-bgcolor;
    margin: 150px auto;
    max-width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px 0px $box-shadow;

    &__logo {
        width: 50%;
        box-sizing: border-box;
        padding: 3% 10%;
        flex-basis: 20%;
    }

    &__description {
        width: 50%;
        box-sizing: border-box;
        padding: 3% 10%;
        flex-basis: 80%;
    }

    &__image {
        width: 50%;
        overflow: hidden;
        height: 100%;

    }

    &__image--img {
        object-position: 0;
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

}
option{
    color:red;
}
.container__logo--img {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
}

.headings {
    margin: 0;
    font-weight: lighter;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.headings--first {
    padding-top: 20px;
    color: $h1-first;
}

.headings--second {
    color: $h1-second;
}

p {
    line-height: 1.5em;
}

i {
    font-size: 20px;
    color: $button-arrow;
}

form {
    padding-top: 20px;
    position: relative;
}

.input {
    outline: none;
    border: 2px solid $input-border;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 22%;
    border-radius: 20px;
    font-size: 110%;
    height: 35px;
    width: 100%;
}

.input:hover {
    background-color: $input-hover;
}

.input:focus {
    background-color: $input-hover;
}

button {
    outline: none;
    position: absolute;
    border-radius: 20px;
    right: 0;
    height: 35px;
    width: 20%;
    border: 2px solid $button-border;
    background: rgb(235, 234, 234);
    background: linear-gradient(142deg, rgba(235, 234, 234, 1) 0%, rgba(235, 168, 170, 1) 49%, rgba(233, 109, 113, 1) 100%);
}

button:hover {
    background: $button-hover;
}

button:focus {
    background: $button-hover;
}

i:hover {
    color: $button-arrow;
}

i:focus {
    color: $button-arrow;
}

/* RWD */

@media (max-width: 576px) {
    body {
        margin: 0;
    }

    .container__logo--img {
        vertical-align: super;
    }

    .container {
        margin: 0;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;

        &__logo {
            order: 1;
            height: 150px;
            height: 100px;
            padding: 20px 50px;
            width: 100%;
        }

        &__description {
            order: 3;
            width: 100%;
            padding: 50px;
            text-align: center;
            min-height: 350px;
        }

        &__image {
            order: 2;
            width: 100%;
            overflow: hidden;
            height: 250px;
        }

        &__image--img {
            object-position: 0;
            display: block;
            object-fit: cover;
            object-position: 0 30%;
            width: 100%;
            height: 100%;
        }
    }

    .headings--first {
        padding-top: 0;
    }

    .input {
        width: 80%;
    }

    button {
        right: 10%;
    }
}